{% from "macros.html" import nav_link with context %}
{% extends "base43.html" %}

{% block stylesheet %}
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block tab_title %}
    <title>{{ config.GMONKI_COMPANY_NAME_LONG }}{% if title != null %} :: {{title}}{% endif %} </title>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ config.GMONKI_COMPANY_NAME_SHORT }}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            	{% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">People<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                			{{ nav_link('people_page','Who Has My Things?')}}
                            <li class="divider"></li>
                			{{ nav_link('invite_page','Invite')}}
                			{{ nav_link('connect_page','Connect')}}
                			{{ nav_link('people_profile_page','Profile')}}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Places<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                			{{ nav_link('places_page','Where Are My Things?')}}
                            <li class="divider"></li>
                			{{ nav_link('locations_page','Locations')}}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Things<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                			{{ nav_link('things_page','All the Things!')}}
                            <li class="divider"></li>
                			{{ nav_link('capture_page','Capture')}}
                			{{ nav_link('catalog_page','Catalog')}}
                        </ul>
                    </li>
				{% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                {% block admin_tools %}
                    {% if current_user.has_roles('admin') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Tools<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                				{{ nav_link('admin_page','Dashboard')}}
                                <li class="divider"></li>
                				{{ nav_link('show_flask_config','Flask Config')}}
                				{{ nav_link('show_current_user','Current User')}}
                            </ul>
                        </li>
                    {% endif %}
                {% endblock %}
                {% block member_tools %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                			{{ nav_link('member_profile_page','Profile')}}
                			{{ nav_link('member_settings_page','Settings')}}
                        </ul>
                    </li>
                {% endblock %}
                {{ nav_link('user.logout', 'Sign Out') }}
            {% else %}
                {{ nav_link('user.login', 'Sign In') }}
            {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
	{% block nav_level_2 %}{% endblock %}
    </nav>
{% endblock %}

{% block app_header %}
    <h1><a href="/">{{ config.GMONKI_COMPANY_NAME_LONG }}</a></h1>
    <h4>An Internet of People, Places and Things</h4>
    <hr>
{% endblock %}

{%block page_header %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block debug %}
    {% if config.DEBUG and request.values.get('debug') %}
        {% include 'debug/flask_request.html' ignore missing %}
    {% endif %}
{% endblock %}

{% block footer %}
    <hr>
    &copy; 2014 {{ config.GMONKI_COMPANY_NAME_FULL }}
	<div class = "pull-right">
			<a href="{{ url_for('about_page') }}" class="gmonki-footer-nav">About</a>
			<a href="{{ url_for('blog_page') }}" class="gmonki-footer-nav">Blog</a>
			<a href="{{ url_for('contact_page') }}" class="gmonki-footer-nav">Contact</a>
			<a href="{{ url_for('help_page') }}" class="gmonki-footer-nav">Help</a>
	</div>
    {% if config.DEBUG %}
        <p> {{self}} </p>
    {% endif %}
    <hr>
{% endblock %}
