{% extends "html_base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-6 col-centered">
			{% block app_header %}
				<h1><a href="/">GreediMonki!</a></h1>
				<h4>An Internet of [People, Places, Things]!</h4>
				<hr>
            {% endblock %}
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <div class="alert alert-{{category}}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}
			{%block page_header %}
				<h2>{{ title }}</h2>
            {% endblock %}
            {% block content %}
            {% endblock %}
			{% block footer %}
				<hr>
				&copy; 2014 GreediMonki.com
                {% if config.DEBUG %}
                    <p> {{self}} </p>
                {% endif %}
				<hr>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
