{% extends "base.html" %}
{% block page_header %} {% endblock %}
{% block content %}
<p><strong>PROBLEM:</strong> Too many people have too much <i>Stuff</i>!  This takes up too much space in our dwellings, minds and souls.  

<p><strong>SOLUTION:</strong> Friends, neighbors and colleagues, coming together to share unused and forgotten material possessions. By redistributing <i>Stuff</i>, we save money, free up space and create opportunities for social engagement.

<p>At <strong>{{ config.GMONKI_COMPANY_NAME_LONG }}</strong>, we're building infrastructure and tools for the Sharing Economy.  We open the enormous potential for all the underused and forgotten <i>Stuff</i> stored in our homes, businesses and organizations.  Our goal is to facilitate the sharing, trading, selling and donation of goods and services, great and small, between friends, neighborhoods, businesses and beyond.

<p>The impacts will be profound:  greater conservation of resources, real savings through reuse, and beneficial social impacts as people share their things, knowledge and experience.  You've possibly heard of the Internet of Things.  <strong>{{ config.GMONKI_COMPANY_NAME_LONG }}</strong> transforms the Internet of Junk, through the intrinsic power of social networking, data science and global logistics, to create the <strong>Internet of Stuff</strong>.

<p>A few examples include: 
<ul>
<li><i>Friends</i> ==> Share and exchange books, cds, toys, furniture, &.
<li><i>Neighborhoods</i> ==> Share power tools, lawn mowers and other <i>Stuff</i>.
<li><i>Businesses</i> ==> Fixed assets.
<li><i>Virtual Goods</i> ==> Fluid markets for gaming environments.
</ul>

<h5>Join <strong>{{ config.GMONKI_COMPANY_NAME_LONG }}</strong>!  Help create the new <strong>Internet of Stuff!</strong></h5>
{% endblock %}
