{% extends "base.html" %}
{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field, render_radio_field %}
<p>Flask-User Info: {{current_user.id}} :: {{current_user.username}} :: {{current_user.email }}
<p>Neo4j-User Info: {{gdb_user.fuid}} :: {{gdb_user.username}} :: {{gdb_user.name}} :: {{gdb_user.fdepth}}
<form action="" method="POST" novalidate formnovalidate class="form" role="form">
	{{ form.hidden_tag() }}

	{{ render_field(form.fullname) }}
	{{ render_field(form.address_default) }}
	{{ render_field(form.friend_sharing_default) }}

	{{ form.neighborhood_sharing_default.label }}
	{{ render_radio_field(form.neighborhood_sharing_default) }}

	{{ form.workplace_sharing_default.label }}
	{{ render_radio_field(form.workplace_sharing_default) }}

	{{ form.charity_sharing_default.label }}
	{{ render_radio_field(form.charity_sharing_default) }}

	{{ render_submit_field(form.submit) }}

</form>
{% endblock %}
