{% extends "base.html" %}
{% block content %}

{% from "flask_user/_macros.html" import render_field, render_submit_field, render_radio_field %}

<form action="" method="POST" novalidate formnovalidate class="form" role="form">
	{{ form.hidden_tag() }}

	{{ render_field(form.fullname) }}
	{{ render_field(form.address_default, rows='5') }}

	{{form.friend_sharing_default.label}}
	{{form.friend_sharing_default}}

{#
	{{ form.neighborhood_sharing_default.label }}
	{{ form.neighborhood_sharing_default }}

	{{ form.workplace_sharing_default.label }}
	{{ render_radio_field(form.workplace_sharing_default) }}

	{{ form.charity_sharing_default.label }}
	{{ render_radio_field(form.charity_sharing_default) }}
#}
	{{ render_submit_field(form.submit) }}
</form>

{% endblock %}
